.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 19px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 28px;
  width: 496px;
  border-radius: 20px;
  border: 1px;
  background-color: white;
  color: black;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

/* .modal__container_type_form {
  padding: 28px;
  width: 496px;
  border-radius: 20px;
  
} */

.modal__btn-close {
  background-image: url(../../assets/close\ button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 28px;
  right: 28px;
}

.modal__title {
  margin: 0;
}

.modal__btn-submit {
  padding: 8px 16px;
  max-width: 124px;
  border-radius: 4px;
  gap: 8px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__form {
  margin-top: 24px;
  margin-bottom: 32px;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
}

.modal__input_user-input {
  border: none;
  border-bottom: 1px solid;
  border-color: #000;
}

.modal__input_legend {
  margin-bottom: 4px;
}

.modal__input_select {
  display: flex;
  gap: 11px;
}
