.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 19px;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  z-index: 999;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 28px;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  border: 1px;
  background-color: white;
  color: black;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.modal__btn-close {
  background-image: url(../../assets/close-button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 28px;
  right: 28px;
}

.modal__title {
  margin: 0;
}

.modal__btn-submit {
  padding: 8px 16px;
  width: 124px;
  border-radius: 4px;
  margin-top: 32px;
  gap: 8px;
  border: none;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.modal__btn-submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__form {
  margin-top: 24px;
  margin-bottom: 8px;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
}

.modal__input_user-input {
  border: none;
  border-bottom: 1px solid;
  border-color: #000;
}

.modal__input_legend {
  margin-bottom: 4px;
}

.modal__input_select {
  display: flex;
  gap: 11px;
  color: rgba(0, 0, 0, 0.5);
}

input[type="radio"]:checked + label {
  color: #000;
}

@media screen and (max-width: 375px) {
  .modal__container_form {
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    border-radius: 20px 20px 0px 0px;
  }

  .modal__btn-submit {
    width: 100%;
  }
}
