.itemCard__element {
  max-width: 325px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.itemCard__element_visible {
  visibility: visible;
}

.itemCard__element_hidden {
  visibility: hidden;
}

.itemCard__image {
  width: 100%;
  height: 100%;
}

.itemCard__title {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 2px 12px;
  background-color: #fff;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

@media screen and (max-width: 375px) {
  .itemCard__element {
    max-width: 164px;
  }

  .itemCard__title {
    top: 20px;
  }
}
