.itemCard__element {
  max-width: 325px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.itemCard__element_visible {
  visibility: visible;
}

.itemCard__element_hidden {
  display: none;
}

.itemCard__image {
  width: 100%;
  height: 100%;
}

.itemCard__title-and-btn {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  align-items: center;
}

.itemCard__title {
  /* position: absolute;
  top: 25px;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
  margin: 0;
  padding: 2px 12px;
  background-color: #fff;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.itemCard__btn-like {
  padding: 0;
  /* position: absolute;
  top: 25px;
  right: 40%; */
  background: url(../../assets/like-button.svg) transparent;
  background-size: cover;
  border: none;
  height: 15px;
  width: 18px;
  cursor: pointer;
}

.itemCard__btn-dislike {
  padding: 0;
  background: url(../../assets/dislike-button.svg) transparent;
  background-size: cover;
  border: none;
  height: 15px;
  width: 18px;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .itemCard__element {
    max-width: 164px;
  }

  .itemCard__title {
    top: 20px;
  }
}
