.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk-Bold", Arial, Helvetica, sans-serif;
  color: #000;
  padding: 0 40px;
}

.page__content {
  max-width: 1360px;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page__section {
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 765px) {
  .page {
    padding: 0 16px;
  }
}
