.modal__container_type_image {
  padding: 0;
  border-radius: 16px;
  width: 498px;
  overflow: hidden;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 498px;
  width: 100%;
  border: 1px;
  background-color: white;
  color: black;
  position: relative;
}

.modal__image {
  width: 100%;
  max-width: 498px;
  margin-bottom: 20px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.modal__btn-close_image {
  background-image: url(../../assets/modal-close-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 28px;
  right: 28px;
}

.modal__img_title {
  margin-top: 0px;
  margin-left: 32px;
  margin-bottom: 12px;
}

.modal__img_content {
  margin-top: 0px;
  margin-left: 32px;
  margin-bottom: 32px;
}

.modal__btn-delete {
  border: none;
  background: transparent;
  position: absolute;
  right: 32px;
  bottom: 68px;
  color: #ff4d00;
  cursor: pointer;
}

.modal__btn-delete_visible {
  visibility: visible;
}

.modal__btn-delete_hidden {
  visibility: hidden;
}
