.sideBar {
  display: flex;
  flex-direction: column;
  max-width: 229px;
  align-items: flex-start;
}

.sideBar_user {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.sideBar_user-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sideBar_user-info {
  /* display: inline-block; */
  white-space: nowrap;
}

.sideBar__btn-change-profile {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-top: 24px;
  white-space: nowrap;
}

.sideBar__btn-logout {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-top: 8px;
}

@media screen and (max-width: 765px) {
  .sideBar {
    max-width: 100vw;
    padding: 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}
